/* Footer */

.footer{
    @include flex(none, center, center);
    background-color: #a0a7bdf5;


    &__parrafo{
        display: flex;
        font-family: 'Roboto', sans-serif;
        color: #e4f2ffb6;
    }
}



#footerImg{
    margin-left: 8.5%;
}
