/* Header */

header{
    display: flex;
    background-color: map-get($colores , fondo);
}

nav{
    width: 100%;
    text-align: center;
    .header{
        @include flex(space-around, flex-end, center);
        list-style: none;
        font-family: 'Lobster Two', cursive;
        margin-bottom: 0.2%;
        font-size: 20px;
        &__enlace{
            text-decoration: none;
            color: #c9a7cf;
            transition: all .3s ease-in-out;
            border-bottom: 3px solid #b5bcd300;
        &:hover{
            border-bottom: 3px solid #bda0bc94;
        }
        }
    }
}
