* {
    margin: 0px;
    padding: 0px;
    text-decoration: none; }

    h1{
        text-align: center;
        margin-top: 2%;
        font-family: 'Dancing Script', cursive;
    }
    
    body{
        background-color: #e7d9f3;
    }